<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Admin Panel</title>

    <script
      src="https://kit.fontawesome.com/6b7ea7f5e7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-gray-200 h-screen">
    <!--     NAV BAR  
    -->

    <%- include("partial/nav") %>

    <!--     END OF NAV BAR
-->

    <h1 class="text-indigo-500 text-3xl mx-auto flex justify-center mb-12 mt-4">
      Hello Admin, welcome to your Dashboard
    </h1>

    <div
      class="container flex flex-col justify-center mx-auto sm:flex-wrap sm:flex-row "
    >
      <div
        class="tokens bg-white rounded p-8 text-center text-indigo-500 text-xl m-4"
      >
        <h1 class="mb-2">Total number of tokens</h1>
        <h1>100</h1>
      </div>
      <div
        class="tokens bg-white rounded p-8 text-center text-indigo-500 text-xl m-4"
      >
        <h1 class="mb-2">Total number of users</h1>
        <h1>100</h1>
      </div>
      <div
        class="tokens bg-white rounded p-8 text-center text-indigo-500 text-xl m-4"
      >
        <h1 class="mb-2">Total number of transactions</h1>
        <h1>100</h1>
      </div>
    </div>

    <!--  TODO   <div class="stats flex">
      Total number of Tonkens: 
    </div> -->
  </body>
</html>
