<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="css/output.css" />
    <title>Welcome back to Tonken</title>
  </head>
  <body class="bg-gray-200">
    <div class="login-card flex justify-center rounded">
      <div class="flex flex-col justify-center items-center h-screen">
        <form
          class="shadow-lg shado m-auto max-w-lg sm:w-screen pt-8 pb-5 px-10 flex flex-col bg-white rounded justify-center items-center text-center"
          action="/"
          method="post"
        >
          <h1 class="mb-4 text-gray-600 font-light text-4xl text-indigo-500">
            Welcome back
          </h1>
          <input
            class=" bg-gray-200 p-1 m-2 rounded placeholder-gray-500 text-center"
            type="text"
            name="username"
            id=""
            placeholder="Username"
          />
          <input
            class="bg-gray-200 p-1 m-2 rounded placeholder-gray-500 text-center"
            type="password"
            name="password"
            id=""
            placeholder="********"
          />
          <button
            class="shadow px-4 py-2 mt-5 mb-8 text-white font-bold bg-teal-400 rounded hover:bg-teal-500"
            type="submit"
          >
            LOGIN
          </button>
          <% if(register){ %>
          <p class="mb-5">
            Need an account ?
            <a class="text-blue-400" href="/subscribe">Subscribe.</a>
          </p>
          <% } %>
        </form>
      </div>
      <div
        class="about rounded-r-lg shadow text-white hidden bg-indigo-500 shadow max-h-screen my-auto max-w-sm sm:w-screen pt-8 pb-8 px-10  flex-col  lg:flex"
      >
        <h1 class="text-5xl font-bold">About.</h1>
        <p>We are the Tonken company: we have created a new kind of Token.</p>
        <br />
        <p>
          Join us today, and get 50TKN for <span class="font-bold">FREE</span>
        </p>
      </div>
    </div>
  </body>
</html>
