<footer>
  <div
    class="w-full p-4 text-center hidden text-white bg-<%= colorTheme %>-900 justify-end sm:flex"
  >
    Fork this project on
    <a href="https://github.com/Icesofty/Digital-Currency"
      ><i class="fab fa-github ml-1 mr-4"></i
    ></a>
    Copyright 2020 © Tonken (Demo)
  </div>
</footer>
