<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/styles.css" />
  <title>Tonken</title>
  <script
    src="https://kit.fontawesome.com/6b7ea7f5e7.js"
    crossorigin="anonymous"
  ></script>
</head>
