<div class="w-screen m-auto container flex justify-between items-center ">
  <!--   // LOGO NAME HERE 
 -->
  <h1 class="logo p-2 m-2 text-<%= colorTheme %>-500 font-bold text-2xl">
    TONKEN
  </h1>

  <!--   // END OF LOGO
 -->

  <div class="nav text-right ">
    <ul class=" lg:max-w-lg lg:w-screen p-2 text-gray-600 text-lg">
      <li>
        <a
          class="uppercase m-2 mr-12 hover:text-<%= colorTheme %>-500"
          href="/logout"
          >logout</a
        >
      </li>
      <!--       <li>
        <a class="uppercase m-2 hover:text-indigo-500" href="/home">history</a>
      </li>
      <li>
        <a class="uppercase m-2 hover:text-indigo-500" href="/home">profile</a>
      </li> -->
    </ul>
  </div>
</div>
